body{
    background-color: #EBF3E8;
}
.banner{
    background-image: url("./background2.jpg");
    background-size: cover;
    height: 80vh;
    background-position: center;
    border-radius: 10px;
}
.navbar-nav{
    margin-left: 75%;
}
.nav-link{
    margin-left: 10%;
}
.title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.horizontal-line{
    border: 1px solid black;
    width: 100px;
    margin-left: 120px;
    margin-top: 25px;
    height: 5px;
    background-color: rgb(100, 172, 128);
    border: 1px solid green;
    border-radius: 6px;
}
.article{
    text-align: center;
    margin-top: 10%;
}
.line{
    border: 1px solid black;
    width: 100px;
    margin-left: 46%;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 5px;
    background-color: rgb(100, 172, 128);
    border: 1px solid green;
    border-radius: 6px;
}
.card{
    height: 70vh;
    width: 25%;
    margin-bottom: 25px;
}
.work{
    display:flex;
    gap: 10px;
    justify-content: space-around;
}
.card-text{
    text-align: center;
    word-spacing: 5px;
    font-size: 20px;
    padding: 20px;
}
.divide{
    border: 1px solid black;
    width: 40px;
    margin-top: 70px;
    margin-left: 40%;
    margin-bottom: 10px;
    height: 5px;
    border-radius: 6px;
    background-color: rgb(100, 172, 128);
}
.about{
    display: flex;
    flex-direction: row;
}
.image{
    height: 60vh;
    width: 50%;
}
.text{
    background-color: white;
    height: 60vh;
    width: 50%;
    padding: 20px;
}
.text h2{
    margin-top: 60px;
    text-align: center;
}
.text p{
    margin-top: 40px;
}
.footer{
    height: 300px;
    text-align: center;
    margin-top: 100px;
}
.email{
    width: 400px;
    background:#D2E3C8;
    border: none;
    height: 50px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.footer button{
    margin-top: 10px;
    background:transparent;
    border: 1px solid black;
    padding: 5px;
    font-size: 15px;
    letter-spacing: 5px;
}
.footer h2{
    font-weight: lighter;
    font-size: 50px;
    letter-spacing: 5px;
}
.footer p{
    font-size: 30px;
    font-weight: lighter;
    margin-top: -10px;
}
span{
    font-size: 30px;
    font-weight: lighter;
}
li img{
    height: 20px;
}